
<div class="top-nav">
    <div class="tn-header">
        <div class="tn-logo">
            <a><span>汉图</span> <small style="font-size: 12px">demo</small></a>
        </div>
        <!--导航下拉-->
        <!--<div class="tn-nav">-->
            <!--<ul class="tn-nav-menu">-->
                <!--<li class="dropdown">-->
                    <!--<a href="#"><span>流水管理</span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>-->
                    <!--<ul class="submenu">-->
                        <!--<li class="">-->
                            <!--<a href="#">-->
                                <!--<span class="glyphicon glyphicon-list-alt"></span>-->
                                <!--<span>目录名称1</span>-->
                                <!--<span class="glyphicon glyphicon-menu-right"></span>-->
                            <!--</a>-->
                            <!--<ul class="submenu">-->
                                <!--<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称1</span></a></li>-->
                                <!--<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称2</span></a></li>-->
                                <!--<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称3</span></a></li>-->
                                <!--<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称4</span></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class=""><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称2</span><span class="glyphicon glyphicon-menu-right"></span></a></li>-->
                        <!--<li class=""><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称3</span><span class="glyphicon glyphicon-menu-right"></span></a></li>-->
                        <!--<li class=""><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称4</span><span class="glyphicon glyphicon-menu-right"></span></a></li>-->
                        <!--<li class=""><a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>目录名称5</span><span class="glyphicon glyphicon-menu-right"></span></a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown"><a href="#"><span>统计报表</span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>-->
                <!--<li class="dropdown"><a href="#"><span>统计分析</span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>-->
                <!--<li class="dropdown"><a href="#"><span>维护设置</span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--右侧个人信息等-->
        <div class="tn-menu dropdown">
            <!--<a href="#" class="all-platforms"><span class="glyphicon glyphicon-th-large"></span><span>全部系统</span></a>-->
            <!--<a href="#" class="notice"><span class="glyphicon glyphicon-bell"></span><span class="notice-number">2</span></a>-->
            <a href="#" class="head-portrait"></a>
            <a href="#" id="tn-menu-dropdown" class="tn-menu-dropdown" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>{{roleName}}</span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
            <ul class="dropdown-menu popover bottom " aria-labelledby="dLabel">
                <div class="arrow"></div>
                <li><a ng-do-logout href="#">安全退出</a></li>
            </ul>
        </div>
    </div>
</div>