<div class="zzsc-container">
    <div class="navcontent">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
            <ul id="demo-list">
                <li class="active">
                    <a class="header" href="javascript:void(0);">示例</a>
                    <ul class="submenu">
                        <li><a href="#" ui-sref="changePassword" ui-sref-opts="{reload:'changePassword'}">修改密码</a></li>
                        <li><a href="#" ui-sref="fileUpload" ui-sref-opts="{reload:'fileUpload'}">上传控件</a></li>
                        <li><a href="#" ui-sref="pageJump" ui-sref-opts="{reload:'pageJump'}">页面跳转</a></li>
                        <li><a href="#" ui-sref="formPage" ui-sref-opts="{reload:'formPage'}">表单组件</a></li>
                    </ul>
                </li>

                <!--<li ng-class="{'active':$index==0}" ng-repeat="menuInfoL1 in menuInfos">-->
                    <!--<a ng-if="menuInfoL1.href!=null && menuInfoL1.href!=''" ng-class="{'header':$index==0}" ui-sref="{{menuInfoL1.href}}" ui-sref-opts="{reload:'{{menuInfoL1.href}}'}">-->
                        <!--<span class="{{menuInfoL1.icon}}" aria-hidden="true"></span>-->
                        <!--{{menuInfoL1.title}}-->
                    <!--</a>-->
                    <!--<a ng-if="menuInfoL1.href==null || menuInfoL1.href==''" ng-class="{'header':$index==0}" href="javascript:void(0);">-->
                        <!--<span class="{{menuInfoL1.icon}}" aria-hidden="true"></span>-->
                        <!--{{menuInfoL1.title}}-->
                    <!--</a>-->
                    <!--<ul class="submenu" ng-if="menuInfoL1.children.length>0">-->
                        <!--<li ng-repeat="menuInfoL2 in menuInfoL1.children">-->
                            <!--<a ng-if="menuInfoL2.href!=null && menuInfoL2.href!=''" ui-sref="{{menuInfoL2.href}}" ui-sref-opts="{reload:'{{menuInfoL2.href}}'}">-->
                                <!--<span class="{{menuInfoL2.icon}}" aria-hidden="true"></span>-->
                                <!--{{menuInfoL2.title}}-->
                            <!--</a>-->
                            <!--<a ng-if="menuInfoL2.href==null || menuInfoL2.href==''" href="javascript:void(0);">-->
                                <!--<span class="{{menuInfoL2.icon}}" aria-hidden="true"></span>-->
                                <!--{{menuInfoL2.title}}-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>