

<div style="padding: 20px">
    <h4 style="padding: 0px;font-size: 28px;letter-spacing: -1px;display: block;color: #666;margin: 0px 0px 15px 0px;font-weight: 300;">Demo页</h4>

    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-md-3 control-label">附件1:</label>
            <div class="col-md-9">
                <div hm-upload-file data-list="fileInfos1" data-size="3" data-filesize="10 MB" data-accept="image,document">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">附件1json:</label>
            <div class="col-md-9" style="word-break:break-all;">
                {{fileInfos1 | json}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">附件2:</label>
            <div class="col-md-9">
                <div hm-upload-file data-list="fileInfos2" data-accept="image,document" data-dir="abcd">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">附件2json:</label>
            <div class="col-md-9" style="word-break:break-all;">
                {{fileInfos2 | json}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">附件样式demo:</label>
            <div class="col-md-9">
                <div>
                    <div class="file-upload-bar">
                        <div class="file-upload-info">
                            <div class="file-upload-ing">
                                <div class="file-progress">
                                    <div style="margin-top: 30px"><span>50%</span>
                                    </div>
                                    <div class="progress progress-striped active ">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="file-upload-info">
                            <div class="file-type-file">
                                <span class="ng-binding">.PDF</span>
                                <div class="file-upload-menu file">
                                    <!--<div class="menu-btn cover"></div>-->
                                    <div class="menu-btn edit"></div>
                                    <div class="menu-btn download"></div>
                                    <div class="menu-btn del"></div>
                                </div>
                                <div class="file-name">文件名.pdf</div>
                            </div>
                        </div>
                        <div class="file-upload-info">
                            <div class="file-type-img" style="background: url('./img/demo.jpg') #000 center no-repeat;">
                                <span class="ng-binding">&nbsp;</span>
                                <div class="file-upload-menu file">
                                    <!--<div class="menu-btn cover"></div>-->
                                    <div class="menu-btn edit"></div>
                                    <div class="menu-btn download"></div>
                                    <div class="menu-btn del"></div>
                                </div>
                            </div>
                        </div>
                        <div class="file-upload-add"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">图片1:</label>
            <div class="col-md-9">
                <div hm-upload-image data-list="imgInfos1" data-size="3" data-filesize="10 MB">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">图片1json:</label>
            <div class="col-md-9" style="word-break:break-all;">
                {{imgInfos1 | json}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">图片2:</label>
            <div class="col-md-9">
                <div hm-upload-image data-list="imgInfos2" data-dir="abcde">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">图片2json:</label>
            <div class="col-md-9" style="word-break:break-all;">
                {{imgInfos2 | json}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">图片样式demo:</label>
            <div class="col-md-9">
                <div>
                    <div class="file-upload-bar">
                        <div class="file-upload-info">
                            <div class="file-upload-ing">
                                <div class="file-progress">
                                    <div style="margin-top: 30px"><span>50%</span>
                                    </div>
                                    <div class="progress progress-striped active ">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="file-upload-info">
                            <div class="file-type-img" style="background: url('./img/demo.jpg') #000 center no-repeat;">
                                <span class="ng-binding">&nbsp;</span>
                                <div class="file-upload-menu">
                                    <div class="menu-btn cover"></div>
                                    <div class="menu-btn edit"></div>
                                    <div class="menu-btn download"></div>
                                    <div class="menu-btn del"></div>
                                </div>
                            </div>
                        </div>
                        <div class="file-upload-info">
                            <div class="file-type-img" style="background: url('./img/demo.jpg') #000 center no-repeat;">
                                <span class="ng-binding">&nbsp;</span>
                                <div class="file-upload-menu">
                                    <div class="menu-btn cover active"></div>
                                    <div class="menu-btn edit"></div>
                                    <div class="menu-btn download"></div>
                                    <div class="menu-btn del"></div>
                                </div>
                                <div class="cover-tab"></div>
                            </div>
                        </div>
                        <div class="file-upload-add image"></div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>