<div class="content" style="min-height: 700px">
    <!--头部-->
    <div class="head">
        <span class="title">游船</span>
        <div class="return"  hm-state-go-back>
            <span class="sp1">游船订单详情</span>
            <span class="sp2">×</span>
        </div>
    </div>
    <div class="article">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>满意度:</td>
                <td>
                    <input type="text" ng-model="point" data-total="5" hm-form-points ng-change="pointChange()">
                </td>
            </tr>
            <tr>
                <td>满意度分数:</td>
                <td>
                    <input type="text" ng-model="point">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>