<div class="zzsc-container">
    <div class="navcontent">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
            <ul id="demo-list">
                <li class="active">
                    <a class="header" href="javascript:void(0);">demo</a>
                    <ul class="submenu">
                        <li><a href="#" ui-sref="demo" ui-sref-opts="{reload:'demo'}">首页</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>